<pr-presenter [label]="courseName" [icon]="courseIcon">
    <pr-presenter-page label="Welcome">
        <div class="content--center" style="height: 100%;flex-direction: column">
            <img src="assets/logo.png" height="120"/>
            <h1>Angular 7</h1>
        </div>
    </pr-presenter-page>
    <pr-presenter-page label="Experiments">
        <div class="content--center" style="height: 100%;flex-direction: column">
            <button (click)="onDialogHandler()">Dialog</button>
        </div>
    </pr-presenter-page>
    <pr-presenter-page label="End">
        <div class="content--center" style="height: 100%;flex-direction: column">
            <h1>THANK YOU</h1>
        </div>
    </pr-presenter-page>
</pr-presenter>
